/* Styling for your container and chart */
#container {
  width: 100%;
  height: 100%;
}

#axis-buttons-pcp {
  margin-bottom: 10px;
  text-align: center;
}

.axis-btn-pcp {
  margin: 4px;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #7570b3;
  background-color: #fff;
  border-radius: 4px;
  color: #7570b3;
}

.axis-btn-pcp.active-axis-pcp {
  background-color: #7570b3;
  color: white;
}

#chart-pcp {
  position: relative;
  width: 100%;
}

canvas,
svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  font-family: "Roboto", sans-serif;
}

.brush rect.extent {
  fill: rgba(100, 100, 100, 0.15);
  stroke: #fff;
}

.brush:hover rect.extent {
  stroke: #222;
  stroke-dasharray: 5, 5;
}
.brush rect.extent:hover {
  stroke-dasharray: none;
}
.resize rect {
  fill: none;
}
.background {
  fill: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #777;
  stroke-width: 1;
}

.axis .tick {
  width: 200px;
}
.axis text {
  fill: #111;
  text-anchor: right;
  font-size: 13px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.axis text.label {
  font-size: 14px;
  cursor: move;
  padding-bottom: 24px;
}
