.wrapper-scatter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-scatter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* margin-bottom: 10px; */
}

.selected-scatter {
  fill: #d95f02 !important; /* Highlight brushed points */
}
.controls-scatter label {
  display: flex;
  align-items: center;
  /* margin-top: -10px;  */
}

.controls-scatter input {
  transform: scale(1.3); /* Increase checkbox size */
  margin-right: 5px;
}

.controls-scatter {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projection-toggle-scatter {
  display: flex;
  gap: 10px;
  /* margin-bottom: 5px; */
}

.projection-btn {
  padding: 5px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #bcbddc;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.projection-btn.active {
  background-color: #7570b3;
  color: white;
  cursor: default;
}

#zoomToggle-scatter {
  accent-color: #7570b3; /* change to any color you like */
}
